<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Employees
        </div>
        <div class="panel-body">
            <table id="employeeListTable" class=" table table-stripped">
                <thead>
                    <tr>
                        <td>First Name</td>
                        <!--<td>Last Name</td>
                        <td>Email</td>
                        <td>Phone</td>-->
                        <td colspan="2">
                            Actions
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees; let i = index;">
                        <td>{{employee.firstName}}</td>
                        <!--<td>{{employee.lastName}}</td>
                        <td>{{employee.emailId}}</td>
                        <td>{{employee.phone}}</td>-->
                        <td><button class="btn btn-info" (click)="viewEmployee(employee.employeeId)">Details</button></td>
                        <td><button class="btn btn-danger" (click)="deleteEmployee(employee.employeeId)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
